

@mixin gCenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.scrollreveal{
  color: aquamarine;
  @include gCenter();

  .sr_comp{
    min-width: 50vw;
    height: 20vh;
    border-radius: 10px;
  }

  .left_component{
    background-color: red;
  }
  .right_component{
    background-color: greenyellow;

  }
  .bottom_component{
    background-color: yellow;


  }
  .top_component{
    background-color: blue;

  }
}