html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

#root{
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.app{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    position: relative;
    
    .container{
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        width: 100vw;
    }
}

